{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow",
    "react",
    "stage-3"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./App",
          "./Tests"
        ],
        "alias": {
          "@mobile": "./App"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "sourceMaps": true
}